<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col">
        <p class="lead text-muted"></p>
        <p>
          <%= link_to "Add a part", {controller: "parts", action: "new"}, class: "btn btn-primary" %>
          <a href="#" class="btn btn-secondary my-2">View a group</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @parts.each do |part| %>
          <div class="col">
            <div class="card shadow-sm">
              <img src="<%= part.photo %>" width="100%" height="225", style="object-fit: cover;">
              <div class="card-body">
                <p class="card-text" style="text-align: center;"><%= part.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group w-100">
                    <%= link_to "View", part, class: "btn btn-outline-secondary" %>
                    <%= link_to "Edit", edit_part_path(part), class: "btn btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

