<div class="col d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="<%= @part.photo %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @part.name %></h5>
      <p class="card-text"><%= @part.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Role: <%= @part.role %></li>
      <% if @part.vulnerable %>
        <li class="list-group-item">Vulnerable</li>
      <% end %>
      <% if @part.protective %>
        <li class="list-group-item">Protective</li>
      <% end %>
       <% if @part.integrated %>
        <li class="list-group-item">Integrated</li>
      <% else %>
        <li class="list-group-item">Not integrated</li>
      <% end %>
    </ul>
    <section class="text-center container">
      <div class="row py-lg-5">
        <div class="col">
          <p class="lead text-muted"></p>
          <p>
            <%= link_to 'Edit', edit_user_part_path, class: 'btn btn-primary' %>
            <%= link_to 'Delete', user_part_path, class: 'btn btn-secondary', 
                                  data: { turbo_method: :delete, turbo_confirm: 'Really!?' } %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
